//COLORS
$color-white: white;
$color-black: black;

$color-grey: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-darkGrey: rgb(27,27,27);
$color-grey-dark-2: #999;

$color-lightGreen: rgb(40, 138, 57);
$color-green-light-1: #7ed56f;
$color-green-light-2: #55c57a;
$color-green-light-3: #28b485;
$color-darkGreen:  rgb(5, 46, 5);

$color-orange-light-1: #ffb900; 
$color-orange-dark-1: #ff7730; 

$color-blue-light-1: #2998ff; 
$color-blue-dark-1: #5643fa;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


//FONT
$default-font-size: 1.6rem;