.btn 
{
    &:link, &:visited 
    {
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        border-radius: 10rem;
        padding: 1em 2.5em;
        font-weight: 500;
        transition: all .2s;
        font-size: 1.6rem;
    }
    
    &--white
    {
        background: $color-white;
        color: $color-grey;
    }

    &--green
    {
        background: $color-green-light-2;
        color: $color-white;
    }
    
    &:hover 
    {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.30);
    }
    
    &:active 
    {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.20);
    }
    
    &--animated
    {
        animation: moveUpIn .5s 1s ease-in;
        animation-fill-mode: backwards;
    }
    
}

.btn-text 
{
    &:link,
    &:visited 
    {
        text-decoration: none;
        color: $color-green-light-2;
        font-size: $default-font-size;
        font-weight: 700;
        display: inline-block;
        border-bottom: 1px solid $color-green-light-2;
        padding: 3px;
        transition: all .2s;
    }

    &:hover 
    {
        background: $color-green-light-2;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .20);
        transform: translateY(-2px);
    }

    &:active 
    {
        box-shadow: 0 .5rem 1rem rgba($color-black, .10);
        transform: translateY(0);
    }

}