.card 
{
    height: 52rem;
    perspective: 150rem;

    &__side 
    {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 52rem;
        transition: all .8s ease;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        overflow: hidden;

        &--front 
        {
            background-color: $color-white;
        }
        &--back 
        {
            transform: rotateY(180deg);
            &-1 
            {
                background-image: linear-gradient(to right bottom, $color-orange-light-1, $color-orange-dark-1);
            }
            &-2
            {
                background-image: linear-gradient(to right bottom, $color-green-light-2, $color-green-light-3);
            }
            &-3 
            {
                background-image: linear-gradient(to right bottom, $color-blue-light-1, $color-blue-dark-1);
            }
        }
    }


    &:hover &__side--front  
    {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back  
    {
        transform: rotateY(0);
    }




    //FRONT STYLE 

    &__image 
    {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        &--1 
        {
            background: linear-gradient(to right bottom, $color-orange-light-1, $color-orange-dark-1), 
            url(../img/card-img-1.jpg);
        }
        &--2
        {
            background: linear-gradient(to right bottom, $color-green-light-2, $color-green-light-3), 
            url(../img/card-img-2.jpg);
        }
        &--3 
        {
            background: linear-gradient(to right bottom, $color-blue-light-1, $color-blue-dark-1), 
            url(../img/card-img-3.jpg);
        }
        
    }

    &__heading 
    {
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
        font-size: 2.8rem;
        text-transform: uppercase;
        font-weight: 300;
        text-align: right;
    }

    &__heading-span 
    {
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        &--1 
        {
            background-image: linear-gradient(to right bottom, 
            rgba($color-orange-light-1, .85), 
            rgba($color-orange-dark-1,.85));
        }
        &--2
        {
            background-image: linear-gradient(to right bottom, 
            rgba($color-green-light-2, .85), 
            rgba($color-green-light-3,.85));
        }
        &--3 
        {
            background-image: linear-gradient(to right bottom, 
            rgba($color-blue-light-1, .85), 
            rgba($color-blue-dark-1,.85));
        }
    }

    &__details 
    {
        padding: 3rem;
        ul 
        {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            
            li 
            {
                font-size: 1.5rem;
                text-align: center;
                padding: 1rem;

                &:not(:last-child)
                {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }


    //BACK STYLE

    &__cta 
    {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90%;
    }

    &__price-box 
    {
        color: $color-white;
        margin-bottom: 8rem;
        text-transform: uppercase;
    }

    &__price-only 
    {
        font-size: 1.5rem;
    }
    &__price-value 
    {
        font-size: 6rem;
        font-weight: 100;
    }
}