.header 
{
    background: linear-gradient(to right bottom, rgba($color-green-light-2, 0.8), rgba($color-green-light-3, 0.8)) , url(../img/wp82380.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;

    &__text-box 
    {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
